<header class="header">
    <h1 class="logo" tit=".co.in">
        .co.in
        <img src="https://b.fastcompany.net/multisite_files/fastcompany/imagecache/inline-small/inline/2015/09/3050613-inline-i-2-googles-new-logo-copy.png" alt=".co.in logo">
    </h1>
</header>


<main>
    asdlkjaslkdjalksd
</main>
<footer>

    #{protocol}{host}
    #{title}
    
    <ul>
        <li><a href="{protocol}{host}/sitemap">Sitemaps</a></li>
        <li><a href="{protocol}{host}/archives">Archives</a></li>
        <li><a href="http://www.ndtv.com/convergence/ndtv/advertise/ndtv_leaderboard.aspx?pfrom=home-footer2015">Advertise</a></li>
        <li><a href="http://www.ndtv.com/convergence/ndtv/corporatepage/index.aspx">About Us</a></li>
        <li><a href="http://gadgets.ndtv.com/feedback">Feedback</a></li>
        <li><a href="https://gadgets360.com/shop/page/privacy-policy">Privacy Policy</a></li>
        <li><a href="https://gadgets360.com/shop/page/terms">Terms &amp; Conditions</a></li>
        <li><a href="http://gadgets.ndtv.com/feedback">Complaint Redressal</a></li>
        <li><a href="http://www.ndtv.com/convergence/ndtv/new/careers.aspx">Careers</a></li>
        <li><a href="http://gadgets.ndtv.com/feedback">Contact Us</a></li>
        <li><a href="http://gadgets.ndtv.com/rss">RSS</a></li>
        <li><a href="http://gadgets.ndtv.com/ethics">Ethics</a></li>
        <li><a href="https://hi.gadgets360.com/">Gadgets Hindi</a></li>
    </ul>
    Ethics Gadgets Hindi
© Copyright Red Pixels Ventures Limited 2017. All rights reserved.    
</footer>


