extends layout

block content
  p Please enter your credentials
  input(type="text", placeholder="Username")
  br
  br
  input(type="password", placeholder="Password")
  br
  br
  input(type="submit")
  br
  input(type="reset")