@import 'reset.css';
@import 'header.css';
@import 'body.css';



a {
  color: #00B7FF;
}

main {
  margin: 0 10px;
  padding: 55px 10px;
}

.authors-header {
  height: 40px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.authors-header * {
  color: #fff;
}

.authors-header ul li {
  display: inline-flex;
  margin-right: 10px;
  font-size: 10px;
}

